{{ partial "header.html" . }}
      <div class="content">
        <h1 id="title">{{ .Title }}<hr></h1>
        <div class="photo-grid">
          <div class="grid">
            {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 12 }}
            {{ range .Paginator.Pages }}
              {{ .Render "summary"}}
            {{ end }}
          </div>
          {{ partial "pagination.html" . }}
        </div>
        {{ partial "taxonomies-all.html" . }}
      </div>
{{ partial "footer.html" . }}
