{{ partial "header.html" . }}
  <div class="content">
			<article class="single">
        <div class="single-photo-container">

           {{ if in .Params.orientation "landscape" }}
         			<img class="single-photo {{ .Params.orientation }}" src="/photos/{{ .Params.photo }}-M.jpg"
              srcset="/photos/{{ .Params.photo }}-L.jpg 1710w,
                      /photos/{{ .Params.photo }}-M.jpg 855w,
                      /photos/{{ .Params.photo }}-S.jpg 360w"
              sizes="100vw"
              alt=".Params.photo" />
         		 {{ end }}
         		 {{ if in .Params.orientation "portrait" }}
         		 <img class="single-photo {{ .Params.orientation }}" src="/photos/{{ .Params.photo }}-M.jpg"
         		srcset="/photos/{{ .Params.photo }}-L.jpg 1140w,
         						/photos/{{ .Params.photo }}-M.jpg 570w,
         						/photos/{{ .Params.photo }}-S.jpg 360w"
         		sizes="100vw"
         		alt=".Params.photo" />
         		{{ end }}

        </div>
        <div class="single-text">
          <time>{{ .Date.Format "02.01.2006" }}</time>
          <h1>{{ .Title }}</h1>
  				<div>
  					{{ .Content }}
  				</div>
        </div>
        {{ partial "single-pagination.html" . }}
			</article>
      <div class="taxonomies">
        <hr>
        <div class="taxonomy">
          <h2>Categories</h2>
          <ul>
            {{ range .Params.categories }}
            <li><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
            {{ end }}
          </ul>
      </div>
      <div class="taxonomy">
        <h2>Tags</h2>
        <ul>
          {{ range .Params.tags }}
          <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
        <hr>
      </div>
      </div>
    </div>
{{ partial "footer.html" . }}
